* text eol=lf
*.jar binary
*.png binary

**/gen/**   linguist-generated=true
*lock.json  linguist-generated=true
gradle.lock linguist-generated=true
*generated* linguist-generated=true
*.pkg       linguist-generated=true
lock.dune   linguist-generated=true
