# Database
/mongo

# Ignore everything under /data
/data/**

# Allow directory traversal
!data/**/

# Allow .yaml and .yml files only
!data/**/*.yaml
!data/**/*.yml
!data/**/*.json*

# Allow files or folders that have 'config' in the path
!data/**/config*/**/*.yaml
!data/**/config*/**/*.yml
!data/**/config*.yaml
!data/**/config*.yml
!data/**/*config*/**/

# Plugins file
!data/plugins.txt

# URL not available
!data/plugins/TokenManager-3.2.8.jar

# Data (should be backed up)
data/ops.json
data/main/**/*.json
data/plugins/WorldGuard/worlds/*
data/plugins/Essentials/userdata/*
data/plugins/LuckPerms/yaml-storage/users/*.yml
data/plugins/TokenManager/data.yml
data/plugins/CreativeManager/data/*.yml
data/plugins/Multiverse-Portals/portals.yml
data/plugins/Multiverse-Core/worlds.yml

# Handled by plugins
data/plugins/TokenManager/lang-*.yml
data/whitelist.json
data/banned-ips.json
data/banned-players.json

# Caches / Temp files
data/.rcon-cli.yaml
data/.purpur-manifest.json
data/version_history.json
data/usercache.json
data/plugins/LuckPerms/editor-keystore.json
data/plugins/*.json
data/plugins/LuckPerms/translations/repository/status.json
data/plugins/TAB/users.yml

### envfile
.env
!.env.example